/**
 * - Settings: Colors -
 * ====================
 */

@color-transparent: transparent;
@color-white: #FFFFFF;
@color-black: #000000;
@color-mine-shaft: #333333;
@color-dove-gray: #666666;
@color-cerulean: #0AADE7;
@color-endeavour: #0253AF;
@color-yellow-orange: #FEA248;
@color-wild-sand: #F5F3F3;
@color-oslo-gray: #8D8E90;
@color-tory-blue: #0A53A6;
@color-catskill-white: #F1F5F9;
@color-alto: #dedede;
@color-mercury: #e1e1e1;
@color-alabaster: #f8f8f8;
@color-silver: #cccccc;
@color-porcelain: #f0f1f2;
@color-picton-blue: #1bb3e7;

.text-transparent{color: @color-transparent!important;}
.text-white{color: @color-white!important;}
.text-black{color: @color-black!important;}
.text-mine-shaft{color: @color-mine-shaft!important;}
.text-dove-gray{color: @color-dove-gray!important;}
.text-cerulean{color: @color-cerulean!important;}
.text-endeavour{color: @color-endeavour!important;}
.text-yellow-orange{color: @color-yellow-orange!important;}
.text-wild-sand{color: @color-wild-sand!important;}
.text-oslo-gray{color: @color-oslo-gray!important;}
.text-tory-blue{color: @color-tory-blue!important;}
.text-catskill-white{color: @color-catskill-white!important;}
.text-alto{color: @color-alto!important;}
.text-mercury{color: @color-mercury!important;}
.text-alabaster{color: @color-alabaster!important;}
.text-silver{color: @color-silver!important;}
.text-porcelain{color: @color-porcelain!important;}
.text-picton-blue{color: @color-picton-blue!important;}

.bg-transparent{background-color: @color-transparent!important;}
.bg-white{background-color:@color-white!important;}
.bg-black{background-color:@color-black!important;}
.bg-mine-shaft{background-color: @color-mine-shaft!important;}
.bg-dove-gray{background-color: @color-dove-gray!important;}
.bg-cerulean{background-color: @color-cerulean!important;}
.bg-endeavour{background-color: @color-endeavour!important;}
.bg-yellow-orange{background-color: @color-yellow-orange!important;}
.bg-wild-sand{background-color: @color-wild-sand!important;}
.bg-oslo-gray{background-color: @color-oslo-gray!important;}
.bg-tory-blue{background-color: @color-tory-blue!important;}
.bg-catskill-white{background-color: @color-catskill-white!important;}
.bg-alto{background-color: @color-alto!important;}
.bg-mercury{background-color: @color-mercury!important;}
.bg-alabaster{background-color: @color-alabaster!important;}
.bg-silver{background-color: @color-silver!important;}
.bg-porcelain{background-color: @color-porcelain!important;}
.bg-picton-blue{background-color: @color-picton-blue!important;}