/**
 * - Settings: Fonts -
 * ===================
 */
@font-face {
    font-family: 'Lato';
    /* IE9 Compat Modes */
    src: url("@{font-uri-base}/lato-regular-webfont.eot");
    /* Legacy iOS */
    src: url("@{font-uri-base}/lato-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{font-uri-base}/lato-regular-webfont.woff") format("woff"),
         url("@{font-uri-base}/lato-regular-webfont.ttf") format("truetype"),
         url("@{font-uri-base}/lato-regular-webfont.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-medium-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-mediummedium-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-medium-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-medium-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-medium-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-bold-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-bold-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-bold-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-bold-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-black-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-black-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-black-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-black-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-black-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-light-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-light-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-light-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-light-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Heavy';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-heavy-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-heavy-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-heavy-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-heavy-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-heavy-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Semibold';
  /* IE9 Compat Modes */
  src: url("@{font-uri-base}/lato-semibold-webfont.eot");
  /* Legacy iOS */
  src: url("@{font-uri-base}/lato-semibold-webfont.eot?#iefix") format("embedded-opentype"),
  url("@{font-uri-base}/lato-semibold-webfont.woff") format("woff"),
  url("@{font-uri-base}/lato-semibold-webfont.ttf") format("truetype"),
  url("@{font-uri-base}/lato-semibold-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}