/**
 * - Settings: Typography -
 * ========================
 */
.text-normal{
  font-family:'Lato', sans-serif;
  font-weight: normal;
}
.text-bold{
  font-family:'Lato-Bold', sans-serif;
  font-weight: normal;
}
.text-light{
  font-family:'Lato-Light', sans-serif;
  font-weight: normal;
}


body{
  .text-normal;
  //word-spacing: -5px;
}

a{
  outline: none;
}

b, strong{
  .text-bold;
}