/**
 * ======================
 * - Ecomobi Stylesheet -
 * ======================
 */

@vendor-uri-base: '../vendors';
@image-uri-base: '../assets/images';
@icon-uri-base: '../assets/images/icons';
@font-uri-base: '../assets/fonts';

@namespace: ecomobi;

/**
 * =======================================
 * - Third-parties libraries & overrides -
 * =======================================
 */
@import 'overrides/bootstrap.less';
@import 'overrides/slick-carousel.less';
@import 'overrides/bootstrap-chosen.less';

/**
 * ============
 * - Settings -
 * ============
 */
@import 'settings/fonts.less';
@import 'settings/colors.less';
@import 'settings/typography.less';
@import 'settings/helpers.less';

/**
 * ==============
 * - Components -
 * ==============
 */
@import 'components/buttons.less';
@import 'components/icons.less';
@import 'components/statistic.less';
@import 'components/chart.less';
@import 'components/tabs.less';

/**
 * ===========
 * - Modules -
 * ===========
 */
@import 'modules/header.less';
@import 'modules/footer.less';

/**
 * ===========
 * - Layouts -
 * ===========
 */
@import 'layouts/base.less';
@import 'layouts/1.less';
@import 'layouts/2.less';

/**
 * =========
 * - Pages -
 * =========
 */
@import 'pages/home.less';
@import 'pages/advertiser.less';
@import 'pages/publisher.less';
@import 'pages/about-us.less';
@import 'pages/account.dashboard.less';
@import 'pages/account.report.less';
@import 'pages/account.offers.less';
@import 'pages/account.offer-details.less';