/**
 * - Component: Buttons -
 * ======================
 */

.@{namespace}.button{
  .btn();
  .text-white;

  &:hover{
    opacity: 0.8;
  }
}

//variants
.@{namespace}.button{
  &.bg-white{
    .text-mine-shaft;
  }
  &.mono{
    .text-mine-shaft;
    .bg-white;
    border: 1px solid @color-alto;
  }
}

//sizes
.@{namespace}.button{
  &.mini{}
  
}