/**
 * - Component: Chart -
 * ====================
 */

.@{namespace}.chart{}

.@{namespace}.chart{

  >.header{
    >.title{
      font-size: 18px;
      margin-bottom: 8px;
    }

    >.legend{
      >ul{
        .list-inline;
        .left;
        padding: 4px;
        border: 1px solid @color-mercury;

        >li{
          list-style: none;

          >span{
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}

