/**
 * - Component: Icons -
 * ====================
 */

.@{namespace}.icon{}

.@{namespace}.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

//sizes
.@{namespace}.icon{
  &.big{
    width: 24px;
    height: 24px;
  }
  &.huge{
    width: 36px;
    height: 36px;
  }
  &.massive{
    width: 48px;
    height: 48px;
  }
}

//icons
.@{namespace}.icon{
  &.check.white     {background-image: url('@{icon-uri-base}/check-white.png');}
  &.check.blue      {background-image: url('@{icon-uri-base}/check-blue.png');}
  &.chart           {background-image: url('@{icon-uri-base}/chart.png');}
  &.decrease        {background-image: url('@{icon-uri-base}/decrease.png');}
  &.increase        {background-image: url('@{icon-uri-base}/increase.png');}
  &.mobile          {background-image: url('@{icon-uri-base}/mobile.png');}
  &.instant-message {background-image: url('@{icon-uri-base}/instant-message.png');}
  &.email           {background-image: url('@{icon-uri-base}/email.png');}
}