/**
 * - Component: Statistic -
 * ========================
 */

.@{namespace}.statistic{}

.@{namespace}.statistic{
  .clearfix;

  >.icon{
    .left;
  }

  >.content{
    .left;

    >.label{
      .text-normal;
      .text-dove-gray;
      border-radius: 0;
      padding: 0;
      font-size: 16px;
      line-height: 16px;
    }

    >.value{
      .text-overflow;
      .text-bold;
      font-size: 30px;
      line-height: 30px;
    }
  }
}