/**
 * - Component: Tabs -
 * ===================
 */
.@{namespace}.tabs{
  >.menu{
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid @color-alto;

    >.item{
      .text-mine-shaft;
      display: inline-block;
      line-height: 40px;
      margin-bottom: -1px;
      padding: 0 8px;
      text-decoration: none;
      cursor: pointer;
    }
    >.active.item{
      .bg-white;
      border: 1px solid @color-alto;
      border-bottom: none;
    }
  }
  >.content{
    padding: 16px 0;

    >.item{
      display: none;
    }
    >.item.active{
      display: block;
    }
  }
}