/**
 * - Layout: 1 -
 * =============
 */
.layout-1{}

@media (max-width: @screen-md){
  .layout-1{
    .segment{
      .container{
        .content{
          .title,
          .description{
            br{
              display: none;
            }
          }
        }
      }
    }
  }
}