/**
 * - Layout: 2 -
 * =============
 */

.layout-2{
  #main{
    .bg-wild-sand;
    padding-bottom: 80px;

    @media (max-width: @screen-sm){
      padding-bottom: 0;
    }

    >.header{
      .bg-endeavour;
      height: 150px;
      background-repeat: no-repeat;
      background-image: url('@{image-uri-base}/pages/account/top-banner.background.png');
      background-position: top center;

      >.container{
        >.title{
          .text-white;
          .text-light;
          font-size: 36px;
          line-height: 90px;
        }
      }
    }

    >.body{
      .container;
      //.bg-white;
      margin-top: -60px;
      min-height: 60px;

      .segment{
        .bg-white;
        position: relative;
        margin-bottom: 16px;
        padding: 16px;

        >.header{
          .clearfix;
          line-height: 32px;
          margin-bottom: 16px;

          >.title{
            .left;
            .text-light;
            font-size: 24px;
          }
        }

        >.body{
          .clearfix;
        }
      }
    }
  }
}