/**
 * - Module: Footer -
 * ==================
 */

.@{namespace}.footer{}

#footer{
  #footer__segment_emails{
    height: 296px;
    padding: 48px 0;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/home/segment-5.background.jpg');

    @media (max-width: @screen-md){
      height: auto;
      background-repeat: repeat-y;
    }

    .container{
      >.header{
        .text-center;
        margin-bottom: 32px;

        >.title{
          .text-light;
          font-size: 48px;
        }
        >.description{
          font-size: 16px;
        }
      }
      >.body{
        #footer__segment_emails__list{
          >.item{
            .text-uppercase;
            .text-center;
            .text-normal;
            .left;
            width: 20%;

            >.title{
              .text-endeavour;
              .text-bold;
            }
          }
        }

        @media (max-width: @screen-lg){
          #footer__segment_emails__list{
            >.item{
              width: 33%;
              margin-bottom: 16px;
              font-size: 13px;

              >.title{

              }
            }
            >.item:nth-child(4),
            >.item:nth-child(5){
              width: 50%;
              margin-bottom: 0;
            }
          }
        }

        @media (max-width: @screen-md){
          #footer__segment_emails__list{
            >.item{
              width: 100%;
              font-size: 12px;
              margin-bottom: 16px;

              >.title{

              }
            }
            >.item:nth-child(4),
            >.item:nth-child(5){
              width: 100%;
              margin-bottom: 16px;
            }
            >.item:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }

  #footer__segment_copyright{
    .text-center;
    height: 70px;
    line-height: 70px;
  }
}