/**
 * - Module: Header -
 * ==================
 */

.@{namespace}.header{}

#header{
  position: relative;
  z-index: 1;

  #header__logo{
    .left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #header__toggle_container{
    .right;
    .visible-xs;
    .clearfix;
    height: 72px;

    #header__toggle{
      .text-endeavour;
      padding: 8px;
      text-decoration: none;
      display: block;
      margin-top: 20px;

      >.icon-bar{
        .bg-endeavour;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-bottom: 4px;
      }

      >.icon-bar:last-child{
        margin-bottom: 0;
      }
    }
  }

  #header__top_menu{
    margin-bottom: 0;

    height: 72px;
    line-height: 72px;
    overflow: hidden;

    @media (max-width: @screen-sm){
      height: 0;
    }

    #header__top_menu__list{
      .left;
      >.item{
        .text-mine-shaft;
        text-decoration: none;
        padding: 0 32px;
        display: inline-block;
        line-height: 20px;
        border-right: 1px solid @color-mercury;

        &:hover{
          .text-dove-gray;
        }
      }

      >.item:last-child{
        border-right: none;
      }
    }

    #header__top_menu__list_languages{
      .right;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      >.item{
        margin-right: 10px;
      }
    }

    #header__top_menu__buttons{
      .right;

      #header__top_menu__buttons__button_sign_up{
        .bg-cerulean;
        width: 180px;
      }
    }
  }
}

@media (max-width: @screen-sm){
  body.is-menu-expanded{
    #header{
      #header__top_menu{
        height: auto;
        width: 100%;
        margin-top: -72px;
        padding-bottom: 72px;
        position: relative;

        #header__top_menu__list{
          clear: both!important;
          float: none!important;
          padding-left: 14px;

          >.item{
            display: block;
            border-bottom: 1px solid @color-mercury;
            border-right: none;
            padding: 0;
            line-height: 48px;
          }
        }

        #header__top_menu__list_languages{
          clear: both!important;
          float: none!important;
          padding-left: 14px;
          line-height: 48px;
        }

        #header__top_menu__buttons{
          clear: both!important;
          float: none!important;
          padding-left: 14px;

          position: absolute;
          bottom: 16px;
          line-height: 64px;
          height: 64px;
        }
      }
    }
  }
}