/**
 * - Page: About Us -
 * ==================
 */
.page-about-us{}

.page-about-us{
  .segment{
    position: relative;
  }

  #page_about_us__segment_1{
    .bg-white;
    height: 512px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/about-us/segment-1.background.jpg');
    background-position: center center;

    .container{
      >.thumbnail{
        position: absolute;
        width: 889px;
        height: 512px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/about-us/segment-1.thumbnail.jpg');
        background-position: center center;
        left: 0;
        bottom: 0;
      }

      >.content{
        .right;
        position: relative;
        width: 678px;

        >.title{
          .text-endeavour;
          .text-light;
          font-size: 60px;
        }
        >.description{
          .text-light;
          .text-justify;
          font-size: 18px;
        }
      }
    }
  }

  #page_about_us__segment_2{
    .bg-endeavour;
    height: 550px;
    padding-top: 48px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/about-us/segment-2.background.png');
    background-position: center center;

    .container{
      >.content{

        >.title{
          .text-center;
          .text-white;
          .text-light;
          font-size: 60px;
          margin-bottom: 148px;
        }
        >.description{
          #page_about_us__segment_2__list{
            position: relative;

            >.item{
              .bg-white;
              position: absolute;
              width: 460px;
              box-shadow: -15px -15px rgba(82,82,82,0.17);

              >.@{namespace}.card{
                padding: 24px;

                >.header{
                  >.title{
                    .text-endeavour;
                    .text-uppercase;
                    font-size: 18px;
                    margin-bottom: 8px;
                  }
                }
                >.body{}
              }
            }
            >.item#page_about_us__segment_2__list__item_1{
              bottom: -25px;
              left: 0;

              &:before{
                content: '';
                position: absolute;
                display: block;
                width: 18px;
                height: 18px;
                z-index: 1;
                margin-left: -10px;
                bottom: -48px;
                left: 50%;
                background-repeat: no-repeat;
                background-image: url('@{image-uri-base}/pages/about-us/segment-2.item.background.png');
              }

              &:after{
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 24px 24px 0;
                border-color: #FFFFFF transparent;
                display: block;
                width: 0;
                z-index: 1;
                margin-left: -24px;
                bottom: -24px;
                left: 50%;
              }
            }
            >.item#page_about_us__segment_2__list__item_2{
              top: -25px;
              right: 0;

              &:before{
                content: '';
                position: absolute;
                display: block;
                width: 18px;
                height: 18px;
                z-index: 1;
                margin-left: -10px;
                top: -48px;
                left: 50%;
                background-repeat: no-repeat;
                background-image: url('@{image-uri-base}/pages/about-us/segment-2.item.background.png');
              }

              &:after{
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 0 24px 24px;
                border-color: #FFFFFF transparent;
                display: block;
                width: 0;
                z-index: 1;
                margin-left: -24px;
                top: -24px;
                left: 50%;
              }
            }
          }
        }
      }

      @media (max-width: @screen-md){
        >.content{
          >.title{
            margin-bottom: 48px;
          }
          >.description{
            #page_about_us__segment_2__list{
              >.item{
                position: static;
                margin: auto;
                margin-bottom: 16px;

                &:before,
                &:after{
                  content: none!important;
                }
              }
              >.item:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

@media (max-width: @screen-md){
  #page_about_us__segment_1{
    height: auto;
    padding-top: 0;
    padding-bottom: 408px;

    .container{
      >.thumbnail{
        width: 100%;
      }

      >.content{
        float: none!important;
        width: 100%;

        >.title{
          .text-endeavour;
          .text-light;
          font-size: 60px;
        }
        >.description{
          .text-light;
          .text-justify;
          font-size: 18px;
        }
      }
    }
  }
}

}