/**
 * - Page: Account's Dashboard -
 * =============================
 */
.page-account-dashboard{}

.page-account-dashboard{
  #main{
    >.body{
      #page_account_dashboard__segment_1{
        #page_account_dashboard__segment_1__list_statistics{
          .clearfix;

          >.item{
            display: inline-block;
            margin-right: 40px;
          }
          >.item:last-child{
            margin-right: 0;
          }
        }
      }

      #page_account_dashboard__segment_3{
        #page_account_dashboard__segment_3__table{
          .table;
          .table-bordered;
          .table-striped;

          >thead{
            >tr{
              >th{
                .text-light;
                border-bottom-width: 1px;
              }
              >.cell-1,
              >.cell-3,
              >.cell-4,
              >.cell-5{
                .text-center;
              }
            }
          }

          >tbody{
            >tr{
              >th{
                .text-bold;
                vertical-align: middle;
                border: none;
                border-right: 1px solid @color-alto;
              }
              >td{
                vertical-align: middle;
                border: none;
                border-right: 1px solid @color-alto;
              }
              >.cell-1{
                .text-center;
              }
              >.cell-5{
                .text-right;
              }
            }
            >tr:nth-of-type(2n){
              .bg-alabaster;
            }
            >tr:nth-of-type(2n+1){
              .bg-white;
            }
          }
        }
      }

      #page_account_dashboard__segment_4{
        .bg-transparent;

        #page_account_dashboard__segment_4__table{
          >tbody{
            >tr{
              >td{
                vertical-align: top;
              }
              >td:first-child{
                padding: 0 8px 8px 0;
              }
            }
          }
        }
      }
    }
  }
}