/**
 * - Page: Account's offers -
 * ==========================
 */
.page-account-offers{}

.page-account-offers{
  #main{
    >.body{
      #page_account_offers__segment_1{
        #page_account_offers__segment_1__form{
          .clearfix;

          >.group{
            .left;
            width: 140px;
            margin-right: 10px;
            padding-bottom: 16px;

            @media (max-width: @screen-md){
              width: 100%;
              &:last-child{
                padding-bottom: 0;
              }
            }

            >label{
              display: block;
            }
            >input{
              .form-control;
            }
            >button{
              min-width: 100px;
              margin-bottom: 16px;
            }
          }
          >.group:last-child{
            width: auto;
          }
        }
      }

      #page_account_offers__segment_2{
        #page_account_offers__segment_2__list{
          .make-row;

          >.item{
            .clearfix;
            .make-sm-column(6);
            .make-md-column(4);

            @media (max-width: @screen-md){
              margin-bottom: 16px;

              &:last-child{
                margin-bottom: 0;
              }
            }

            >.thumbnail{
              .left;
              margin-right: 10px;
            }
            >.content{
              >.title{
                font-size: 18px;
              }
              >.meta{}
            }
          }
        }
      }

      #page_account_offers__segment_3{

        .body{
          @media (max-width: @screen-md){
            overflow-x: scroll;
          }

          #page_account_offers__segment_3__table{
            .table;
            .table-bordered;
            .table-striped;

            >thead{
              >tr{
                >th{
                  .text-light;
                  border-bottom-width: 1px;
                }
                >.cell-2{
                  .text-center;
                }
              }
            }

            >tbody{
              >tr{
                >th{
                  .text-bold;
                  vertical-align: middle;
                  border: none;
                  border-right: 1px solid @color-alto;
                }
                >td{
                  vertical-align: middle;
                  border: none;
                  border-right: 1px solid @color-alto;
                }
                >.cell-2{
                  .text-center;
                }
              }
              >tr:nth-of-type(2n){
                .bg-alabaster;
              }
              >tr:nth-of-type(2n+1){
                .bg-white;
              }
            }
          }
        }
      }

      #page_account_offers__segment_4{
        .bg-transparent;

        #page_account_offers__segment_4__table{
          >tbody{
            >tr{
              >td{
                vertical-align: top;
              }
              >td:first-child{
                padding: 0 8px 8px 0;
              }
            }
          }
        }
      }
    }
  }
}