/**
 * - Page: Account's offer details -
 * =================================
 */
.page-account-offer-details{}

.page-account-offer-details{
  #main{
    >.body{
      #page_account_offer_details__segment_1{
        .header{
          height: 30px;
          .right{
            span{
              vertical-align: top;
              font-size: 18px;
            }
          }
        }
        #page_account_offer_details__segment_1__list{
          .dl-horizontal;

          dt{
            .text-normal;
            .text-left;
            .text-dove-gray;
            font-size: 15px;
            width: 100px;
            line-height: 30px;
          }
          dd{
            .text-normal;
            font-size: 15px;
            margin-left: 110px;
            line-height: 30px;
          }
        }
      }

      #page_account_offer_details__segment_2{
        >.body{
          line-height: 30px;
        }
      }

      #page_account_offer_details__segment_3{
        #page_account_offer_details__segment_3__tabs__form_1,
        #page_account_offer_details__segment_3__tabs__form_2{
          padding: 8px 0;

          >.group{
            .clearfix;
            margin-bottom: 8px;

            >label{

            }
            input{
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

@media (max-width: @screen-md){
  #main{
    >.body{
      #page_account_offer_details__segment_1,
      #page_account_offer_details__segment_2{
        height: auto!important;
      }
    }
  }
}
}