/**
 * - Page: Account's report -
 * ==========================
 */
.page-account-report{}

.page-account-report{
  #main{
    >.body{
      #page_account_report__segment_1{
        #page_account_report__segment_1__form{
          .clearfix;

          >.group{
            .left;
            width: 210px;
            margin-right: 10px;

            >label{
              display: block;
            }
            >input{
              .form-control;
            }
            >button{
              width: 100px;
            }
          }
        }
      }

      #page_account_report__segment_3{
        .body{
          @media (max-width: @screen-md){
            overflow-x: scroll;
          }
        }

        #page_account_report__segment_3__table{
          .table;
          .table-bordered;
          .table-striped;

          >thead{
            >tr{
              >th{
                .text-light;
                border-bottom-width: 1px;
              }
              >.cell-2,
              >.cell-3,
              >.cell-4,
              >.cell-5,
              >.cell-6{
                .text-right;
              }
            }
          }

          >tbody{
            >tr{
              >th{
                .text-bold;
                vertical-align: middle;
                border: none;
                border-right: 1px solid @color-alto;
              }
              >td{
                vertical-align: middle;
                border: none;
                border-right: 1px solid @color-alto;
              }
              >.cell-2,
              >.cell-3,
              >.cell-4,
              >.cell-5,
              >.cell-6{
                .text-right;
              }
            }
            >tr:nth-of-type(2n){
              .bg-alabaster;
            }
            >tr:nth-of-type(2n+1){
              .bg-white;
            }
          }
        }
      }

      #page_account_report__segment_4{
        .bg-transparent;

        #page_account_report__segment_4__table{
          >tbody{
            >tr{
              >td{
                vertical-align: top;
              }
              >td:first-child{
                padding: 0 8px 8px 0;
              }
            }
          }
        }
      }
    }
  }
}