/**
 * - Page: Advertiser -
 * ====================
 */
.page-advertiser{}

.page-advertiser{
  .segment{
    position: relative;
  }

  #page_advertiser__segment_1{
    .bg-mine-shaft;
    height: 263px;
    padding-top: 28px;

    .container{
      .text-white;
      .text-center;

      >.thumbnail{
        width: 655px;
        height: 263px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-1.background.png');
        background-position: center right;

        position: absolute;
        right: 50%;
        margin-right: -750px;
        top: 0;
      }

      >.content{
        position: relative;

        >.title{
          font-size: 60px;
          margin-bottom: 12px;
        }
        >.description{
          .text-light;
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
  }

  #page_advertiser__segment_2{
    .bg-endeavour;
    height: 502px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-2.background.png');

    >.container{
      >.thumbnail{
        width: 621px;
        height: 454px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-2.thumbnail.png');

        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -585px;
      }

      >.content{
        .text-white;
        position: relative;
        padding-top: 148px;
        padding-left: 56px;

        >.title{
          .text-light;
          font-size: 55px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 21px;
        }
      }
    }
  }

  #page_advertiser__segment_3{
    .bg-white;
    height: 492px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-3.background.png');

    >.container{
      >.thumbnail{
        width: 585px;
        height: 488px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-3.thumbnail.png');

        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -585px;
      }

      >.content{
        .right;
        position: relative;
        padding-top: 148px;
        padding-left: 56px;

        >.title{
          .text-light;
          .text-endeavour;
          font-size: 55px;
          line-height: 56px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 21px;
        }
      }
    }
  }

  #page_advertiser__segment_4{
    .bg-yellow-orange;
    height: 502px;

    >.container{
      >.thumbnail{
        width: 899px;
        height: 502px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-4.thumbnail.png');

        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -720px;
      }

      >.content{
        .text-white;
        position: relative;
        padding-top: 148px;
        padding-left: 56px;

        >.title{
          .text-light;
          font-size: 55px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 21px;
        }
      }
    }
  }

  #page_advertiser__segment_5{
    .bg-white;
    height: 496px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-5.background.png');

    >.container{
      >.thumbnail{
        width: 800px;
        height: 464px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-5.thumbnail.jpg');

        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -700px;
      }

      >.content{
        .right;
        position: relative;
        padding-top: 148px;
        padding-left: 56px;

        >.title{
          .text-light;
          .text-endeavour;
          font-size: 55px;
          line-height: 56px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 17px;
        }
      }
    }
  }

  #page_advertiser__segment_6{
    .bg-wild-sand;
    height: 502px;

    >.container{
      >.thumbnail{
        width: 899px;
        height: 502px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/adv-ertiser/segment-6.thumbnail.jpg');

        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -750px;
      }

      >.content{
        position: relative;
        padding-top: 148px;
        padding-left: 56px;

        >.title{
          .text-light;
          .text-endeavour;
          font-size: 55px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 18px;
        }
      }
    }
  }

  #page_advertiser__segment_7{
    .container{
      .list{
        line-height: 140px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >.item{
          margin-right: 29px;
          @media (max-width: @screen-lg){
            .text-center;
            .make-md-column(3);
            .make-xs-column(6);
            display: block;
            margin-right: 0;
          }
        }
        >.item:last-child{
          margin-right: 0;
        }

        >.item:hover{
          opacity: 0.8;
        }
      }
    }
  }

@media (max-width: @screen-md){
  #page_advertiser__segment_1{
    height: auto;
    padding-bottom: 28px;

    .container{
      >.thumbnail{
        display: none;
      }
    }
  }

  #page_advertiser__segment_2{
    height: auto;
    padding-bottom: 482px;

    >.container{
      >.thumbnail{
        left: 0;
        right: 0;
        margin-right: 0;
        width: 100%;
        background-position: center center;
      }
      >.content{
        .text-center;
        float: none!important;
        padding-top: 28px;
        padding-left: 0;
        width: 100%;
      }
    }
  }

  #page_advertiser__segment_3{
    height: auto;
    padding-bottom: 488px;

    >.container{
      >.thumbnail{
        left: 0px;
        margin-left: 0px;
        width: 100%;
        background-position: center center;
      }
      >.content{
        .text-center;
        float: none!important;
        padding-top: 28px;
        padding-left: 0px;
      }
    }
  }

  #page_advertiser__segment_4{
    height: auto;
    padding-bottom: 488px;

    >.container{
      >.thumbnail{
        left: 0px;
        margin-left: 0px;
        width: 100%;
        background-position: center center;
      }
      >.content{
        .text-center;
        float: none!important;
        padding-top: 28px;
        padding-left: 0px;
      }
    }
  }

  #page_advertiser__segment_5{
    height: auto;
    padding-bottom: 496px;

    >.container{
      >.thumbnail{
        left: 0px;
        margin-left: 0px;
        width: 100%;
        background-position: center center;
      }
      >.content{
        .text-center;
        float: none!important;
        padding-top: 28px;
        padding-left: 0px;
      }
    }
  }

  #page_advertiser__segment_6{
    height: auto;
    padding-bottom: 502px;

    >.container{
      >.thumbnail{
        left: 0px;
        margin-left: 0px;
        width: 100%;
        background-position: center center;
      }
      >.content{
        .text-center;
        float: none!important;
        padding-top: 28px;
        padding-left: 0px;
      }
    }
  }
}

}