/**
 * - Page: Home -
 * ==============
 */

.page-home{}

.page-home{
  .segment{
    position: relative;
  }

  #page_home__segment_1{
    height: 615px;
    
    #page_home__segment_1__list{
      .item{
        height: 615px;
        background-repeat: no-repeat;
        background-position: center center;

        .container{
          padding-top: 148px;
          padding-bottom: 148px;

          >.title{
            .text-white;
            font-size: 65px;
            line-height: 63px;
            margin-bottom: 24px;
          }

          >.subtitle{
            .text-white;
            font-size: 22px;
            line-height: 16px;
            margin-bottom: 24px;
          }
          >.button{
            .text-uppercase;
            .text-light;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }

      //slick
      .slick-arrow{
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .slick-prev{
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 50%;
        margin-left: -650px;
        margin-top: -28px;
        background-image: url('@{icon-uri-base}/carousel-previous.png');
      }

      .slick-next{
        position: absolute;
        top: 50%;
        z-index: 1;
        right: 50%;
        margin-right: -650px;
        margin-top: -28px;
        background-image: url('@{icon-uri-base}/carousel-next.png');
      }
    }
  }

  #page_home__segment_2{
    width: 1300px;
    height: 120px;
    margin: -60px auto;
    .bg-white;
    z-index: 1;
    max-width: 100%;
    overflow: hidden;

    .container{
      .list{
        line-height: 120px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >.item{
          margin-right: 29px;
        }
        >.item:last-child{
          margin-right: 0;
        }

        >.item:hover{
          opacity: 0.8;
        }
      }
    }
  }

  #page_home__segment_3{
    .bg-endeavour;
    height: 672px;
    padding-top: 148px;
    padding-bottom: 148px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/home/segment-3.background.jpg');
    background-position: center center;

    .container{
      >.thumbnail{
        width: 605px;
        height: 599px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/home/segment-3.thumbnail.png');
        background-position: center center;
        position: absolute;
        bottom: 0;
        right: 50%;
        margin-right: -585px;
      }

      >.content{
        .text-white;
        position: relative;


        >.header{
          margin-bottom: 28px;
          >.title{
            font-size: 60px;
          }
        }
        >.body{
          >.title{
            font-size: 47px;
            line-height: 48px;
            margin-bottom: 24px;
          }
          >.description{
            font-size: 18px;
            margin-bottom: 24px;
          }
          >.button{
            .text-uppercase;
            .text-light;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }
    }
  }

  #page_home__segment_4{
    height: 672px;
    padding-top: 136px;
    padding-bottom: 136px;

    .container{
      >.thumbnail{
        width: 771px;
        height: 525px;
        background-repeat: no-repeat;
        background-image: url('@{image-uri-base}/pages/home/segment-4.thumbnail.png');
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -650px;
      }

      >.content{
        .right;
        position: relative;
        width: 470px;

        >.header{
          margin-bottom: 28px;

          >.title{
            .text-endeavour;
            font-size: 60px;
          }
        }

        >.body{
          >.title{
            font-size: 47px;
            line-height: 48px;
            margin-bottom: 24px;
          }

          >.description{
            .text-dove-gray;
            font-size: 18px;
            margin-bottom: 48px;
          }

          >.button{
            .text-uppercase;
            .text-light;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }
    }
  }

@media (max-width: @screen-sm){
  #page_home__segment_1{

    #page_home__segment_1__list{
      .item{

        .container{
          padding-top: 56px;
          padding-bottom: 56px;

          >.title{
            font-size: 32px;
          }

          >.subtitle{
            line-height: 24px;
          }
          >.button{
            .text-uppercase;
            .text-light;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }

      //slick
      .slick-arrow{
        width: 56px;
        height: 56px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .slick-prev{
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 50%;
        margin-left: -650px;
        margin-top: -28px;
        background-image: url('@{icon-uri-base}/carousel-previous.png');
      }

      .slick-next{
        position: absolute;
        top: 50%;
        z-index: 1;
        right: 50%;
        margin-right: -650px;
        margin-top: -28px;
        background-image: url('@{icon-uri-base}/carousel-next.png');
      }
    }
  }

  #page_home__segment_3{
    height: auto;
    padding-bottom: 599px;
    padding-top: 80px;

    .container{
      >.thumbnail{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 0;
        width: 100%;
      }

      >.content{
        .text-white;
        .text-center;
        position: relative;


        >.header{
          margin-bottom: 28px;
          >.title{
            font-size: 60px;
          }
        }
        >.body{
          >.title{
            font-size: 47px;
            line-height: 48px;
            margin-bottom: 24px;
          }
          >.description{
            font-size: 18px;
            margin-bottom: 24px;

            br{
              display: none;
            }
          }
          >.button{
            .text-uppercase;
            .text-light;
            padding-left: 32px;
            padding-right: 32px;
          }
        }
      }
    }
  }

  #page_home__segment_4{
    height: auto;
    padding-top: 28px;
    padding-bottom: 525px;


    .container{
      >.thumbnail{
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        margin-left: 0px;
        top: auto;
        background-position: center center;
      }

      >.content{
        .text-center;
        float: none!important;
        position: relative;
        width: 100%;
      }
    }
  }
}

}