/**
 * - Page: Publisher -
 * ====================
 */
.page-publisher{}

.page-publisher{
  .segment{
    position: relative;
  }

  #page_publisher__segment_1{
    .bg-oslo-gray;
    height: 450px;
    padding-top: 160px;
    background-repeat: no-repeat;
    background-image: url('@{image-uri-base}/pages/publisher/segment-1.background.jpg');
    background-position: center center;

    .container{
      .text-white;
      .text-center;

      >.content{
        position: relative;

        >.title{
          font-size: 60px;
          line-height: 60px;
          margin-bottom: 4px;
        }
        >.description{
          .text-light;
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
  }

  #page_publisher__segment_2{
    .bg-tory-blue;
    padding: 20px 0;

    >.container{
      >.content{
        .text-white;
        .text-center;

        >.description{
          .text-light;
          font-size: 27px;
          line-height: 40px;
        }
      }
    }
  }

  #page_publisher__segment_3{
    .bg-white;

    >.container{
      >.content{
        padding-top: 40px;

        >.title{
          .text-center;
          .text-light;
          font-size: 40px;
          line-height: 56px;
          margin-bottom: 24px;
        }

        >.description{
          font-size: 18px;

          #page_publisher__segment_3__list{
            .clearfix;

            >.item{
              .make-md-column(4);
              margin-bottom: 40px;
              height: 320px;

              >.@{namespace}.card{
                .text-center;

                >.thumbnail{
                  height: 140px;
                  line-height: 140px;
                  margin-bottom: 16px;

                  img{
                    display: inline;
                  }
                }
                >.title{
                  font-size: 30px;
                  margin-bottom: 8px;
                }
                >.description{
                  .text-dove-gray;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  #page_publisher__segment_8{
    .container{
      .list{
        line-height: 140px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >.item{
          margin-right: 29px;
          @media (max-width: @screen-lg){
            .text-center;
            .make-md-column(3);
            .make-xs-column(6);
            display: block;
            margin-right: 0;
          }
        }
        >.item:last-child{
          margin-right: 0;
        }

        >.item:hover{
          opacity: 0.8;
        }
      }
    }
  }
}